@using BasicCompany.Blazor.Models.Products
@using Sitecore.AspNet.RenderingEngine.Extensions
@using Sitecore.LayoutService.Client.Response.Model.Fields
@inherits ComponentBase

@code {
    [Parameter]
    public ProductModel Model { get; set; }
}

<a href="@Model.ItemUrl" class="column product-list-column is-4-desktop is-6-tablet">
    <div class="card">
        <div class="card-image">
            <figure style="background-image: url(@Model.ImageUrl)"></figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h4>@Model.Title</h4>
                <p>@Model.ShortDescription</p>
            </div>
        </div>
    </div>
</a>
