@using GenericRazorHelpers.PlaceholderHelper

<div class="container testimonials">
    <section class="columns is-1 is-multiline">
        <PlaceholderHelper Name="testimonials" />
    </section>
</div>
