@using GenericRazorHelpers
@using Microsoft.AspNetCore.Components
@using Sitecore.AspNet.RenderingEngine.Extensions
@inherits BaseModelComponent< BasicCompany.Blazor.Models.Services.Testimonial>

<div class="column testimonial is-6">
    <div class="testimonial-inner" style="background-image: url(@Model.Image.GetMediaLink(new { mw = 960, @as = false }))">
        <h3>@Model.Title.Value</h3>
        <sc-text>@((MarkupString)Model.Quote.Value)</sc-text>
    </div>
</div>
