@using GenericRazorHelpers.PlaceholderHelper
@using Sitecore.AspNet.RenderingEngine
@using Sitecore.AspNet.RenderingEngine.TagHelpers

<div class="container testimonials">
    <section class="columns is-1 is-multiline">
        <PlaceholderHelper Name="testimonials" />
    </section>
</div>
