@using GenericRazorHelpers.PlaceholderHelper

<div id="wrapper">
    ﻿<header>
        <div id="header" class="container">
            <PlaceholderHelper Name="headless-header" />
        </div>
    </header>

    <main>
        <div id="content" class="container">
            <PlaceholderHelper Name="headless-main" />
        </div>
    </main>

    <footer>
        <div id="footer" class="container">
            <PlaceholderHelper Name="headless-footer" />
        </div>
    </footer>
</div>