@using BasicCompany.Blazor.Models.Localization
@using GenericRazorHelpers
@using Microsoft.Extensions.Localization
@using BasicCompany.Blazor.Models.Products

@inject IStringLocalizer Localizer
@inherits BaseModelComponent<BasicCompany.Blazor.Models.Products.RelatedProductsList>

<div class="container">
    <h3 class="title">@Localizer["RelatedProducts"]</h3>

    <div class="product-list-columns columns is-multiline">
        @foreach (var product in Model.RelatedProducts)
        {
            var productModel = new ProductModel
                {
                    Title = product.Fields.Title.Value,
                    ShortDescription = product.Fields.ShortDescription.Value,
                    ImageUrl = product.Fields.Image.GetMediaLink(new { mw = 480, @as = false }),
                    ItemUrl = product.Url
                };
            <_ListProduct Model="productModel" />
        }
    </div>
</div>
